{{define "yield"}}
  <div class="row">
    <div class="row justify-content-md-center mb-12">
      <h1>
        {{.Title}}
      </h1>
      <ul>
        {{range .Images}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    </div>
  </div>
{{end}}